#root {
  padding: 2rem;
  width:100%;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  width:100%;
}

.container > * {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  width: 100%;
  padding: 1rem;
  width:100%;
  max-width:600px;
  border-radius: 8px;
  position:relative;
}

.action-wrapper {
  display:flex;
  position: absolute;
  right: 10px;
  top: 10px;
  gap: 8px;
}